<!DOCTYPE html>
<html lang="en">
  <head>
	<script type="text/javascript" src="js/menu.js"></script>
	<script src="js/js_script.js" defer></script>
	<script src="https://vuejs.org/js/vue.js" defer></script>
	<script src="js/vue_script.js" defer></script>
	<title>Scam-Burgers inc.</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
	<main>
	  <header>
		<h1 class="title">Welcome to Scam-Burgers inc.</h1>
		<img src="https://external-preview.redd.it/nhVMNtYiaGWYmMZ9xpe7Ly9E572s2Es8XakB4TGGiqc.jpg?s=ab727914cc742cc64e77c42fe31761887cfdde0d" alt="McDaniels, La verdarea hamburguesa Argentina">
	  </header>

	  <section id="burger_selection">
		<h2>Select your burger</h2>
		<p>This is where you select your scam *cough* sorry, burger...</p>
		<div class="burger-table" id="menu-table">
		  <span v-for="(burger, idx) in burgers">
			<div v-bind:class="'box 0' + idx">
			  {{ burger.name }}: {{burger.kCal}} kCal
			  <span v-if="burger.gluten">(g)</span>
			  <span v-if="burger.lactose">(l)</span>
			</div>
			<div v-bind:class="'box 1' + idx">
			  <img :src="burger.img_path">
			</div>
			<div v-bind:class="'box 2' + idx">
			  <ul>
				<li>{{ burger.dsc1 }}{{ burger.bread }}</li>
				<li>{{ burger.dsc2 }}{{ burger.meat }}</li>
				<li>{{ burger.dsc3 }}{{ burger.allergy }}</li>
			  </ul>
			</div>
		  </span>
		</div>
	  </section>

	  <section id="contact_information">
		<h2>Your information</h2>
		<p>Here's where you put in your information so we can steal it and scam you well!</p>
		<section id="contact"><form><fieldset>
			  <p>
				<label for="fullName">Full name</label><br>
				<input type="text" id="fullName" name="fn" required="required" placeholder="First and last name" />
			  </p>
			  <p>
				<label for="email">E-mail</label><br>
				<input type="email" id="email" name="ml" placeholder="E-mail address" />
			  </p>
			  <p>
				<label for="street">Street name</label><br>
				<input type="text" id="street" name="st" required="required" placeholder="Street name" />
			  </p>
			  <p>
				<label for="house_no">House number</label><br>
				<input type="number" id="house_no" name="no" required="required" placeholder="House number" />
			  </p>
			  <p>
				<label for="payment">Payment method</label><br />
				<select id="payment" name="pay">
				  <option>Offshore account no.1</option>
				  <option selected="selected">Western union</option>
				  <option>Cash hidden in a tree of your choice</option>
				  <option>A briefcase full of cash</option>
				</select>
			  </p>
			  <p>
				<label for="gender">Gender</label><br />
				<input id="r0" type="radio" name="gender" value="dude">Dude<br>
				<input id="r1" type="radio" name="gender" value="dudette">Dudette<br>
				<input id="r2" type="radio" name="gender" value="na" checked>N/A<br>
			  </p>
		</fieldset></form></section>
	  </section>
	  <p><button type="submit" id="order"><img src="https://docs.toradex.com/102745-blue-tick-mark-reverse.png">Submit ;)</button></p>
	</main>

	<footer>
	  <hr>
	  &COPY NotActuallyACompany
	</footer>
	
  </body>
</html>
