<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Scam-Burgers inc.</title>
	<meta charset="utf-8"/>
  </head>
  <body>
	<h1>Welcome to Scam-Burgers inc.</h1>
	<p>Hi! Welcome to Scam-Burgers incorporated. We will steal your information and sell it. Then we will take your money!</p>
	<h2>Select your burger</h2>
	<p>This is where you select your scam *cough* sorry, burger...</p>
	<h2>Your information</h2>
	<p>Here's where you put in your information so we can steal it and scam you well!</p>
  </body>
</html>
