<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Scam-Burgers inc.</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
	<main>
	  <header>
		<h1 class="title">Welcome to Scam-Burgers inc.</h1>
		<img src="https://external-preview.redd.it/nhVMNtYiaGWYmMZ9xpe7Ly9E572s2Es8XakB4TGGiqc.jpg?s=ab727914cc742cc64e77c42fe31761887cfdde0d" alt="McDaniels, La verdarea hamburguesa Argentina">
	  </header>

	  <section id="burger_selection">
		<h2>Select your burger</h2>
		<p>This is where you select your scam *cough* sorry, burger...</p>
		<table>
		  <tbody>
			<tr>
			  <td><h3>Floor-burger&TRADE;</h3></td>
			  <td><h3>Some other burger</h3></td>
			  <td><h3>This isn't even a burger</h3></td>
			</tr>
			<tr>
			  <td><img src="https://media-cdn.tripadvisor.com/media/photo-s/10/36/20/06/by-far-the-worst-burger.jpg" alt="A great looking burger"></td>
			  <td><img src="https://aht.seriouseats.com/assets_c/2014/02/20140203-sad-burger-dimly-lit-meals-for-one-thumb-300xauto-381436.jpg" alt="Is that even a burger"></td>
			  <td><img src="https://cdn.foodbeast.com/content/uploads/2016/05/Shitty-Food-Porn-1-408x450.jpg" alt="I'm sorry, I went too far"></td>
			</tr>
			<tr>
			  <td>
				<ul>
				  <li>We found it on the floor, has <span class="allergy">some kind of bread</span></li>
				  <li>It may or may not contain meat <span class="allergy">(possibly suitable for vegans)</span></li>
				  <li>Let's hope you're not allergic to something in it! <span class="allergy">We don't know what it contains.</span></li>
				</ul>
			  </td>
			  <td>
				<ul>
				  <li>White bread that was supposed to be my dinner <span class="allergy">(soggy and contains gluten)</span></li>
				  <li><span class="allergy">It sure does contain meat</span> (probably not a lot though)</li>
				  <li>Doesn't matter if you're allergic to something, <span class="allergy">you probably don't want to eat this.</span></li>
				</ul>
			  </td>
			  <td>
				<ul>
				  <li>Hold on!</li>
				  <li>I thought we were selling burgers!!?!??!</li>
				  <li><span class="allergy">I don't think that's a burger...</span></li>
				</ul>
			  </td>
			</tr>
		  </tbody>
		</table>
	  </section>

	  <section id="contact_information">
		<h2>Your information</h2>
		<p>Here's where you put in your information so we can steal it and scam you well!</p>
		<section id="contact"><form><fieldset>
			  <p>
				<label for="fullName">Full name</label><br>
				<input type="text" id="fullName" name="fn" required="required" placeholder="First and last name" />
			  </p>
			  <p>
				<label for="email">E-mail</label><br>
				<input type="email" id="email" name="ml" placeholder="E-mail address" />
			  </p>
			  <p>
				<label for="street">Street name</label><br>
				<input type="text" id="street" name="st" required="required" placeholder="Street name" />
			  </p>
			  <p>
				<label for="house_no">House number</label><br>
				<input type="number" id="house_no" name="no" required="required" placeholder="House number" />
			  </p>
			  <p>
				<label for="payment">Payment method</label><br />
				<select id="payment" name="pay">
				  <option>Offshore account no.1</option>
				  <option selected="selected">Western union</option>
				  <option>Cash hidden in a tree of your choice</option>
				  <option>A briefcase full of cash</option>
				</select>
			  </p>
			  <p>
				<label for="gender">Gender</label><br />
				<input type="radio" name="gender" value="dude">Dude<br>
				<input type="radio" name="gender" value="dudette">Dudette<br>
				<input type="radio" name="gender" value="na" checked>N/A<br>
			  </p>
		</fieldset></form></section>
	  </section>
	  <p><button type="submit"><img src="https://docs.toradex.com/102745-blue-tick-mark-reverse.png">Submit ;)</button></p>
	</main>

	<footer>
	  <hr>
	  &COPY NotActuallyACompany
	</footer>
	
  </body>
</html>
