@import 'https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu';

body {
	font-family: Ubuntu, "Courier New";
	font-size: 15pt
}

.allergy {
	font-weight: bold;
}

#burger_selection {
	color: white;
	background-color: black;
	margin:10px 5px;
}

#contact_information {
	margin:40px 10px;
}

[type|="submit"] {
	margin:20px 20px;
}

button:hover {
	background-color:red;
	cursor:help
}

table {
	width:100%;
	height:85%;
	margin-left:auto;
	margin-right:auto;
}

table tr {
	width:32%;
	height:10%;
	text-align:left;
}

table tr img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:60%
}
