@import 'https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu';

body {
	font-family: Ubuntu, "Courier New";
	font-size: 15pt
}

.allergy {
	font-weight: bold;
}

#burger_selection {
	color: white;
	background-color: black;	
}

#contact_information {

}

button:hover {
	background-color:red;
	cursor:help
}
